header{
    background-color: black;
}
h1{
    color: white;
    font-family: sans-serif;
    font-size: 10px;
    text-align: left;
       
}
img.izquierda {
    margin-left: 10px;
    float: center,left;
    width: 15px;
    height:15px;
}
img.derecha {
    margin-right: 10px;
    float: right;
    width: 13px;
    height:13px;
}
button{
    background-color: rgb(68, 205, 68);
    border-radius: 15px;
}