header{
    color: rgba(255, 140, 0, 0.828);
    font-size: 30px;
    background-color: blanchedalmond;
}
.title{
    color: forestgreen;
    font-size: 35px;
}
p{
    color: darkgreen;
    font-size: 20px;
}
h2{
color: coral;
font-size: 30px;
}
.preparacion{
    color: olivedrab;
    font-size: 30px;
}
ul{
    color: coral;
    font-size: 20px;
    list-style: none;
}
figcaption{
    color: rgba(1, 196, 11, 0.765);
    font-size: 20px;
}
ol{
    color: olivedrab;
    font-size: 20px;
}
h3{
    color: rgb(8, 100, 3);
font-size: 30px;
}
span
{
    color: olivedrab;
    font-size: 18px;
}